<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input class="form-label" type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="content">Post</label>
      <textarea rows="5" cols="40" class="form-textarea" id="content" name="content" placeholder="What's on your mind?"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>