<section>
  <a href="/dashboard/newpost" class="new-post">
    <button class="btn btn-inline">Create New Post</button>
  </a>
</section>

<br />
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ul>
    {{#each posts as |post|}}
    <a href="/dashboard/edit/{{post.id}}" class="edit-link">
      <li>
        {{> posts post}}
      </li>
    </a>
    {{/each}}
  </ul>
</section>
{{/if}}

